<div class="main-container">
	<div class="scan-header-container">
		<div class="attension-text">
			Datenschutzerklärung
		</div>
		<div class="regular-text">
			CORA
		</div>
	</div>

	<div class="wrapper__container share-data-container">
		<div class="wrapper__container--body share-data-container-body">
			<div class="container container__flex-container">
				<div class="agreement">
					<p>Datenschutzerklärung (Stand 12.01.2021)</p>
					<p>I. Geltungsbereich<br />
						Im Folgenden finden Sie die aktuelle Fassung unserer Datenschutzerklärung, die im Zusammenhang mit der
						Nutzung der CORA App und dazugehöriger Dienste, im Folgenden zusammengefasst als „Dienste“
						bezeichnet, stehen.
					</p>
					<p>II.Verantwortlicher
						Für die Verarbeitung personenbezogener Daten, im Folgenden mit „wir“ oder „uns“ bezeichnet, ist
					<p>
						MATECODE GmbH<br />
						Marienstraße 5<br />
						70178 Stuttgart<br />
						<a href="mailto:info@matecode.de">info@matecode.de</a>
					</p>
					<p>Sofern Sie Fragen zu dieser Datenschutzerklärung haben, erreichen Sie uns unter den oben genannten
						Kontaktdaten.</p>
					<p>III. Datenerhebung, -Speicherung und -Speicheungsdauer<br />
						1.Wir erheben personenbezogene Daten und speichern diese unter Wahrung des anwendbaren <br />
						Datenschutzrechts.</p>
					<p>2. Personenbezogene Daten sind gemäß Art. 4, Nr. 1 Datenschutz-Grundverordnung alle Informationen, die
						sich auf eine identifizierte oder identifizierbare natürliche Person beziehen.</p>
					<p>3.Die Datenerhebung erfolgt, sofern Sie unsere Dienste in Anspruch nehmen, Informationen an uns
						übermitteln oder Dritte uns Ihre personenbezogenen Daten unter Wahrung des Datenschutzrechts zur
						Verfügung stellen.</p>
					<p>4.Daten die erhoben werden sind insbesondere</p>
					<p>a. Kontaktdaten wie Name, Vorname, Geburtsdatum, Anschrift, Telefonnummer und eMail-Adresse</p>
					<p>b. Erweiterte Angaben, die Sie durch unsere Dienste übermitteln</p>
					<p>c. Aufenthaltsdaten, die Sie uns durch unsere Dienste übermitteln</p>
					<p>d. Zweckmäßige Daten, die für die Funktionalität notwenig sind, Zuordnungsschlüssel und
						QR Codes</p>
					<p>5.Die Dauer der Datenspeicherung richtet nach dem Zweck zu dem sie erhoben wurden oder solange wir ein
						berechtigtes Interesse daran haben (ggf. bis zum Ablauf der Verjährungsfrist zur Durchsetzung eigener
						Ansprüche). Darüber hinaus speichern wir Ihre personenbezogenen Daten für eine gesetzlich, gerichtlich
						oder behördlich vorgeschriebene Dauer.</p>
					<p>IV. Zweck der Datenspeicherung und Gesetzesgrundlage</p>
					<p>Wir verarbeiten Ihre personenbezogenen Daten nur soweit dies nach geltendem Recht erlaubt ist,
						insbesondere nach den Regelungen des Infektionsschutzgesetzes (IfSG), genauer gemäß
						§ 28a Abs.1, Ziff.17 IfSG der Anordnung der Verarbeitung der Kontaktdaten.
						Darüber hinaus beruht die Datenspeicherung zum Zweck der Erfüllung und auf Grundlage der
						Datenschutzgrundverordnung (DSGVO) gemäß:</p>
					<p>1. Art.6 Abs.1, 1a DSGVO Sie erteilen Ihre Einwilligung zum Zweck der Weitergabe von Daten an
						Gesundheitsbehörden</p>
					<p>2. Art.6 Abs.1,1b DSGVO zur Erfüllung vertraglicher oder ggf. vorvertraglicher Pflichten aus Verträgen,
						dessen Vertragspartei Sie sind und auf Ihre Anfrage hin erfolgen. Dies umfasst auch Verträge über die
						Inanspruchnahme unserer Dienste</p>
					<p>3. Art.6 Abs.1, 1c DSGVO zur Einhaltung gesetzlicher Pflichten oder gerichtlichen oder behördlichen
						Vorgaben</p>
					<p>4. Art.6 Abs.1, 1a,1b,1f DSGVO zur Möglichkeit der Kontaktaufnahme für jegliche Zwecke und zur
						Beantwortung von Anliegen und Rückmeldungen</p>
					<p>5. Art.6 Abs.1, 1b, 1f DSGVO zur Gewährleistung der ordnungsgemäßen Bereitstellung und Nutzbarkeit
						unserer Dienste</p>
					<p>6. Art.6 Abs.1, 1b, 1c DSGVO zur Gewährleistung der allgemeinen Systemsicherheit, Systemgesundheit und
						Systemstabilität unserer Dienste, sowie deren fehler- und störungsfreie Bereitstellung.</p>
					<p>V. Datenweitergabe an Dritte<br />
						Wir nehmen den Schutz Ihrer persönlichen Daten sehr ernst, behandeln sie vertraulich und entsprechend der
						Datenschutzvorschriften, sowie dieser Datenschutzerklärung.<br />
						Zum Zwecke der Erleichterung der Verarbeitung Ihrer personenbezogenen Daten, können wir diese im
						Zusammenhang mit Dienstleistungen die Dritte für uns oder zusammen mit uns erbringen, unter der
						Maßgabe, dass diese Dritten Ihre personenbezogenen Daten in keiner anderen Weise als zur Erbringung von
						Dienstleistungen für uns verwenden dürfen. Insbesondere können dies Anbieter von
						Datenverarbeitungsanlagen, Infrastruktur- Anbieter, Datenplattform- Anbieter und Datenspeicher-Anbieter
						sein.<br />
						Darüber hinaus können wir Ihre personenbezogenen Daten an Dritte weitergeben, wenn dies gesetzlich
						vorgeschrieben ist oder die Übermittelung behördlich angefragt wird.</p>
					<p>VI. Rechte der betroffenen Person<br />
						Die DSGVO sieht bezüglich der Verarbeitung Ihrer personenbezogenen Daten folgende Rechte vor.</p>
					<p>1. Nach Art. 15 DSGVO haben Sie das Recht umfassend Auskunft über die gespeicherten,
						personenbezogenen Daten und und deren Verarbeitungszweck einzuholen. Bitte beachten Sie dabei, dass
						Rechte und Freiheiten anderer Personen Ihr Recht auf Auskunft einschränken können.</p>
					<p>2. Nach Art. 16 DSGVO haben Sie das Recht auf Berichtigung Ihrer personenbezogenen Daten.</p>
					<p>3. Nach Art. 17 DSGVO haben Sie unter bestimmten Voraussetzungen das Recht auf Datenlöschung („Recht
						auf Vergessenwerden“).</p>
					<p>4. Nach Art. 18 DSGVO haben Sie unter bestimmten Voraussetzungen das Recht auf Einschränkung der
						Verarbeitung Ihrer personenbezogen Daten.</p>
					<p>5. Nach Art. 20 DSGVO haben Sie unter bestimmten Voraussetzungen das Recht auf Datenübertragbarkeit.</p>
					<p>6. Nach Art. 21 DSGVO haben Sie in bestimmten Situationen das Recht der Verarbeitung Ihrer
						personenbezogener Daten zu widersprechen, sofern die Verarbeitung gemäß Art. 6 Abs.1, 1e DSGVO für die
						Wahrnehmung einer Aufgabe, die im öffentlichen Interesse liegt erforderlich ist bzw. in Ausübung
						öffentlicher Gewalt erfolgt, auf einem berechtigten Interesse von uns oder eines Dritten gemäß
						Art. 6 Abs.1, 1f DSGVO beruht oder Ihre personenbezogenen Daten für Zwecke der Direktwerbung
						verarbeitet werden.</p>
					<p>7. Ungeachtet der vorstehenden Rechte haben Sie das Recht, Beschwerde bei einer Aufsichtsbehörde
						einzulegen.</p>
					<p>VII. Widerrufsrecht zur Einwilligung der Datenverarbeitung<br />
						Sie können eine bereits erteilte Einwilligung zur Verarbeitung Ihrer personenbezogener Daten jederzeit
						widerrufen. Die Rechtmäßigkeit der bis zum Widerruf erfolgten Datenverarbeitung bleibt vom Widerruf
						unberührt.</p>
					<p>VIII. Aktualisierung der Datenschutzerklärung<br />
						Wir behalten uns vor diese Datenschutzerklärung anzupassen, insbesondere im Falle der Änderung der
						Rechtslage oder unserer Dienste.<br />
						Etwaige Änderungen werden Ihnen, sofern erforderlich, mitgeteilt. Bitte Informieren Sie sich in
						regelmäßigen Abständen über den aktuellen Stand der Datenschutzerklärung.</p>
				</div>
			</div>
			<div class="p-field center-container" style="margin-top: 50px">
				<button class="orange-button" style="margin-bottom: 10px;" (click)="confirmClick()">Zustimmen</button>
				<button class="white-button" (click)="cancelClick()">Abbrechen</button>
			</div>
		</div>
	</div>
</div>