<div class="main-container">
	<div class="scan-header-container">
		<div class="attension-text">
			Nutzungsbedingungen
		</div>
		<div class="regular-text">
			CORA
		</div>
	</div>

	<div class="wrapper__container agreement-container">
		<div class="wrapper__container--body agreement-container-body">
			<div class="container container__flex-container">
				<div class="agreement">
					<p>Nutzungsbedingungen</p>
					<p>I. Allgemeines /Geltungsbereich<br />
						1. Diese CORA Nutzungsbedingungen (im Folgenden „<strong>Nutzungsbedingungen</strong>“ genannt) gelten für
						alle Verträge (im
						Folgenden „<strong>Nutzungsverträge</strong>“genannt) zwischen der MATECODE GmbH, Marienstraße 5, 70178
						Stuttgart (im
						Folgenden „CORA“ genannt) und Kunden von CORA (im Folgenden „<strong>Nutzer</strong>“ genannt) über die
						Nutzung der
						nachstehend definierten Dienste. Diese Nutzungsbedingungen werden Bestandteil jedes Nutzungsvertrages.<br />
						2. Zur besseren Lesbarkeit von Personenbezeichnungen und personenbezogenen Wörtern wird in diesen
						Nutzungsbedingungen die männliche Form verwendet. Entsprechende Begriffe gelten im Sinne der
						Gleichbehandlung
						grundsätzlich für alle Geschlechter und enthalten keine Wertung.<br />
						3. Diese Nutzungsbedingungen gelten auch für künftige Verträge zwischen CORA und dem Nutzer. Einen
						gesonderten,
						entsprechenden Hinweis bedarf es im Einzelfall nicht. Diese Nutzungsbedingungen gelten spätestens dann als
						von dem
						Nutzer bestätigt, wenn der Nutzer die Dienste in Anspruch nimmt.<br />
						4. Diese Nutzungsbedingungen gelten unter Ausschluss weiterer Bedingungen. Abweichende, widersprechende oder
						ergänzende allgemeine Geschäftsbedingungen können ausschließlich mit schriftlicher Zustimmung durch CORA
						Bestandteil eines Nutzungsvertrags werden.<br />
						5. Sofern diese Nutzungsbedingungen die Begriffe „schriftlich“, „in Schriftform“ oder ähnliche Begriffe
						verwenden,
						beziehen sich diese auf die Schriftform im Sinne des § 126 BGB. Der elektronische Austausch von Kopien,
						handschriftlich unterzeichneter Dokumente, sowie von Dokumenten mit elektronischer Signatur ist insoweit
						ausreichend.<br />
						Soweit diese Nutzungsbedingungen nicht ausdrücklich etwas anderes bestimmen, ist der Austausch einfacher
						E-Mails
						nicht ausreichend.<br />
						6. Mitteilungen und Erklärungen, die der Nutzer gegenüber CORA abgibt, sind mindestens in Textform im Sinne
						des §
						126 BGB abzugeben. Eine Einfache eMail ist ausreichend, solange diese Nutzungsbedingungen nicht ausdrücklich
						etwas anderes bestimmen.<br />
						7. Verweise dieser Nutzungsbedingungen auf die Anwendbarkeit gesetzlicher Vorschriften dienen lediglich der
						Aufklärung. Gesetzliche Vorschriften gelten auch ohne Aufklärung, es sei denn sie werden durch diese
						Nutzungsbedingungen ergänzt oder ausgeschlossen.</p>
					<p>II. Dienste/ Zustandekommen von Nutzungsverträgen<br />
						1. Nach Maßgabe des jeweiligen Nutzungsvertrages gewährt CORA dem privaten Nutzer kostenfrei Zugang zu der
						von
						CORA als Software Service angebotenen Software zur Kontaktdatenübermittlung, einschließlich aller
						dazugehörigen
						Websites, Plattformen, Dienste, Anwendungen und Funktionen („<strong>Dienste</strong>“).<br />
						2. Um die Dienste nutzen zu können, muss der Nutzer innerhalb der Dienste bestimmte persönliche Daten
						hinterlegen
						und diese Nutzungsbedingungen akzeptieren. Der Nutzer kann seine persönlichen Daten überprüfen und ggf.
						berichtigen. Nachdem der Nutzer die vollständig ausgefüllte Anmeldung abgeschickt hat, erhält der Nutzer von
						CORA
						in der Regel eine Bestätigung seiner Anmeldung. Durch diese Bestätigung kommt zwischen CORA und dem Nutzer
						ein
						verbindlicher Nutzungsvertrag zustande.<br />
						3. CORA hat das Recht, die Dienste jederzeit und ohne Vorankündigung herabzustufen, einzuschränken oder
						anderweitig zu modifizieren. Vorbehaltlich der Regelungen in Ziffer VIII treffen CORA für die Dienste keine
						Garantie-, Entschädigungs-, Wartungs-, Support- oder Verfügbarkeitsverpflichtungen.<br />
						4. CORA ist berechtigt, zur Erfüllung seiner vertraglichen Pflichten jederzeit Unterauftragnehmer zu
						beauftragen.<br />
						5. CORA wird den Vertragstext (diese Nutzungsbedingungen und der jeweilige Nutzungsvertrag) nach
						Zustandekommen eines Nutzungsvertrages nicht speichern. Der Vertragstext ist dann für den Nutzer nicht mehr
						zugänglich.</p>
					<p>III. Nutzungsrechte und Nutzungsbeschränkungen<br />
						1. Nach Maßgabe des Nutzungsvertrages gewährt CORA dem Nutzer während der Vertragslaufzeit ein einfaches,
						nicht
						übertragbares, nicht unterlizenzierbares, weltweites Recht, die Dienste ausschließlich zu privaten Zwecken
						des Nutzers
						zu nutzen. Die Dienste werden so angeboten wie jeweils aktuell auf der Website von CORA einschließlich dem
						Abschnitt über häufig gestellte Fragen (FAQ) („<strong>Dokumentation</strong>“) beschrieben.<br />
						2. Der Nutzer darf nicht (und darf nicht gestatten, dass Dritte dies tun) mittelbar oder unmittelbar:<br />
						a. die Dienste unterlizenzieren, verkaufen, weiterverkaufen, übertragen, abtreten, vertreiben, teilen,
						verpachten,
						vermieten, extern geschäftlich nutzen, outsourcen, auf der Basis einer Teilzeitnutzung oder als
						Serviceunternehmen
						nutzen, oder in einer Application Service Provider- oder einer Managed Service Provider-Umgebung nutzen oder
						anderweitig Einnahmen aus den Diensten generieren;<br />
						b. die Dienste auf ein öffentliches oder verteiltes Netzwerk kopieren;<br />
						c. Teile der Dienste dekompilieren, im Wege des Reverse Engineerings rekonstruieren, zerlegen oder auf eine
						andere
						Weise versuchen, Quellcodes, Objektcodes oder zugrundeliegende(s) strukturelle Ideen, Know-how oder
						Algorithmen
						oder andere Funktionsmechanismen der Dienste zu erlangen, es sei denn, dies ist im Einzelfall aufgrund
						zwingender
						gesetzlicher Vorschriften zulässig;<br />
						d. alle oder einen Teil der Dienste modifizieren, anpassen, übersetzen oder abgeleitete Werke erstellen, die
						auf den
						Diensten basieren (außer in dem durch CORA gestatteten Umfang oder sofern dies im Rahmen der Dienste
						genehmigt
						wurde);<br />
						e. Hinweise auf Eigentumsrechte, die in den Diensten oder Teilen davon erscheinen, modifizieren;<br />
						f. die Dienste so nutzen, dass geltende Gesetze und Vorschriften (einschließlich Ausfuhrbestimmungen und
						-einschränkungen, nationale Sicherheitskontrollen und -vorschriften) verletzt werden oder außerhalb des in
						dieser
						Ziffer III beschriebenen Lizenzumfangs nutzen;<br />
						g. die Dienste konfigurieren, um die folgenden Daten zu erheben:<br />
						(i) Daten, die als sensible personenbezogene Daten oder ‚besondere Datenkategorien‘ im Sinne der
						Datenschutz-
						Grundverordnung („<strong>DSGVO</strong>“) oder anwendbarer nationaler Datenschutzvorschriften gelten;<br />
						(ii) Passwörter oder andere Authentifizierungsdaten; oder<br />
						(iii) Zahlungsdaten oder andere finanzielle Daten, biometrische Daten oder genetische Daten (gemeinsam
						„<strong>Unerlaubte
							Daten</strong>“); oder<br />
						h. die Dienste verwenden, um<br />
						(i) verletzendes, verleumderisches oder auf andere Weise unrechtmäßiges oder unerlaubtes Material oder
						bösartige
						Codes oder Malware zu speichern, herunterzuladen oder zu übertragen, oder<br />
						(ii) Phishing, Spamming, Denial-of-Service-Angriffen oder anderen betrügerischen oder kriminellen
						Aktivitäten
						nachzugehen;<br />
						(iii) die Integrität oder die Leistungsfähigkeit von Systemen Dritter oder die darin enthaltenen Angebote
						oder Daten zu
						beeinträchtigen oder zu unterbrechen;<br />
						(iv) zu versuchen, unerlaubten Zugriff auf die Dienste oder die Systeme oder Netzwerke von CORA zu erlangen;
						oder<br />
						(v) Penetrationstests, Schwachstellenanalysen oder andere Sicherheitsbewertungen durchzuführen oder Dritte
						mit deren
						Durchführung zu beauftragen.<br />
						3. Der Nutzer darf die Inhalte der Dienste nicht ohne die schriftliche Zustimmung von CORA vervielfältigen,
						verarbeiten, teilen oder öffentlich wiedergeben, es sei denn dies wird durch Funktionen, welche in Dienste
						integriert
						sind, ausdrücklich gestattet.<br />
						4. Der Nutzer darf Dienste oder technische Daten, oder Kopien, Teile oder Produkte davon weder direkt noch
						indirekt
						unter Verletzung geltender Gesetze und Vorschriften exportieren oder re-exportieren.<br />
						5. Der Nutzer darf die Dienste nur wie in der Dokumentation beschrieben, nutzen.<br />
						6. CORA kann die Nutzung der Dienste durch den Nutzer überwachen und kann eine Nutzung der Dienste
						untersagen
						und/oder aussetzen, wenn CORA der Auffassung ist, dass der Nutzer gegen die Bestimmungen dieser Ziffer III
						verstößt.</p>
					<p>IV. Pflichten des Nutzers<br />
						1. Der Nutzer sichert zu und gewährleistet, dass er die Dienste ausschließlich in vollständiger
						Übereinstimmung mit
						allen geltenden Gesetzen und Vorschriften verwendet.<br />
						2. Der Nutzer ist dafür verantwortlich, technische Geräte und damit zusammenhängende Zusatzdienste, die für
						die
						Verbindung mit, den Zugriff auf oder die sonstige Nutzung der Dienste erforderlich sind, auf eigene Kosten
						zu
						beschaffen und instand zu halten, insbesondere Hardware, Software, Server, Betriebssysteme, Netzwerke und
						mobile
						Endgeräte (gemeinsam „<strong>Technische Ausstattung</strong>“). CORAs Anforderungen an die Technische
						Ausstattung können in
						ihrer jeweils aktuellen Fassung auf der Website von CORA eingesehen werden.<br />
						3. Der Nutzer ist zudem für die Sicherheit der Technischen Ausstattung sowie jede dem Nutzer bekannte oder
						unbekannte Nutzung der Technischen Ausstattung verantwortlich.<br />
						4. Der Nutzer ist für die Inhalte aller Daten die von dem Nutzer über oder mit Hilfe der Dienste angezeigt,
						veröffentlicht, hochgeladen, gespeichert, ausgetauscht oder übertragen werden (gemeinsam „Inhalte“) allein
						verantwortlich. CORA ist nicht in der Lage, die von dem Nutzer während der Nutzung der Dienste übermittelten
						Informationen zu kontrollieren oder die Richtigkeit dieser Informationen zu gewährleisten. CORA kann – ohne
						vorherige Ankündigung und ohne dafür zu haften – Beschwerden oder mutmaßlichen Verletzungen des
						Nutzungsvertrages nachgehen und kann gegenüber dem Nutzer Maßnahmen ergreifen, die CORA für angemessen
						erachtet. Dazu gehören das Beschränken, Sperren oder Kündigen des Zugangs des Nutzers zu den Diensten.<br />
						5. Der Nutzer stellt sicher, dass die in den Diensten von ihm hinterlegten Informationen stets aktuell und
						richtig sind.
						Im Falle einer nicht autorisierten Verwendung oder vermuteten Sicherheitsverletzung oder eines Missbrauchs
						der
						Dienste ist der Nutzer verpflichtet, CORA darüber unverzüglich zu informieren.</p>
					<p>V. Laufzeit und Kündigung<br />
						1. Die Laufzeit eines Nutzungsvertrages beginnt zu dem darin bezeichneten Zeitpunkt.<br />
						2. Jeder Nutzungsvertrag bleibt auf unbestimmte Zeit in Kraft, sofern er nicht im Einklang mit dem
						Nutzungsvertrag
						gekündigt wird. CORA der der Nutzer können den Nutzungsvertrag jederzeit mit sofortiger Wirkung
						kündigen.<br />
						3. Das Recht der Parteien zur außerordentlichen Kündigung des Nutzungsvertrages aus wichtigem Grund bleibt
						unberührt.</p>
					<p>VI. Eigentumsrechte, Nutzerdaten, IT- Sicherheit und Updates<br />
						1. CORA und deren etwaige Auftragnehmer sind und bleiben Eigentümer aller Eigentumsrechte, einschließlich
						Urheberrechte Datenbankrechte, Patente, Geschäftsgeheimnisse, Marken und aller anderen Rechten an geistigem
						Eigentum und technischen Lösungen an und im Zusammenhang mit den Diensten. Der Nutzer erkennt an, dass die
						nach
						einem Nutzungsvertrag gewährten Rechte dem Nutzer keine Eigentumsrechte an den Diensten verschaffen.<br />
						2. Sämtliche Rechte an den Inhalten und an Daten, die der Nutzer CORA zur Verfügung stellt, um die
						Bereitstellung
						der Dienste zu ermöglichen oder die der Kunde während der Nutzung der Dienste zur Verfügung stellt
						(„<strong>Nutzerdaten</strong>“), sowie an Daten, die auf den Inhalten oder Nutzerdaten basieren oder davon
						abgeleitet sind,
						verbleiben bei dem Nutzer. Der Nutzer gewährt CORA ein einfaches, nicht übertragbares, unterlizenzierbares,
						räumlich
						und inhaltlich unbeschränktes (Nutzungs-)Recht, die Inhalte und Nutzerdaten ausschließlich in Verbindung mit
						der
						Erbringung der Dienste zu nutzen. CORA haftet nicht für die Inhalte oder die Nutzerdaten.<br />
						3. CORA wird angemessene Maßnahmen ergreifen, um zu gewährleisten, dass die Sicherheit der Dienste
						marktüblichen
						Industriestandards entspricht.<br />
						4. CORA behält sich das Recht vor, jederzeit und ohne vorherige Ankündigung neue Versionen und Updates der
						Dienste, insbesondere Veränderungen der Gestaltung, des operativen Verfahrens, der technischen
						Spezifikationen, der
						Systeme und anderen Funktionen der Dienste, vorzunehmen.</p>
					<p>VII. Datenschutz<br />
						1. Der Nutzer und CORA werden jederzeit die Anforderungen des geltenden Datenschutzrechts, insbesondere der
						DSGVO, einhalten.<br />
						2. Die Verarbeitung personenbezogener Daten durch CORA wird in CORAs Datenschutzerklärung näher erläutert.
					</p>
					<p>VIII. Haftungsbeschränkung<br />
						1. CORA haftet unbeschränkt für<br />
						a. die Verletzung des Lebens, des Körpers oder der Gesundheit durch CORA, deren gesetzliche Vertreter oder
						Erfüllungsgehilfen<br />
						b. orsätzlich oder grob fahrlässig verursachte Schäden durch CORA, deren gesetzliche Vertreter oder
						Erfüllungsgehilfen<br />
						c. Schäden aufgrund des Fehlens einer garantierten Beschaffenheit<br />
						d. Forderungen aus dem Produkthaftungsgesetz (ProdHaftG)<br />
						2. CORA haftet für Schäden aus der Verletzung von Kardinalpflichten durch CORA, deren gesetzliche Vertreter
						oder
						Erfüllungsgehilfen. Kardinalpflichten sind die Pflichten, deren Erfüllung die ordnungsgemäße Durchführung
						des
						Nutzungsvertrages erst ermöglicht und auf deren Einhaltung der Nutzer regelmäßig vertraut und vertrauen
						darf. Sofern
						die Verletzung von Kardinalpflichten durch leichte Fahrlässigkeit von CORA, deren gesetzliche Vertreter oder
						Erfüllungsgehilfen erfolgt, ist die Haftung von CORA der Höhe nach auf den Betrag begrenzt, der für CORA zum
						Zeitpunkt der Erbringung der jeweiligen Leistung vorhersehbar war.<br />
						3. Vorbehaltlich der Regelungen in Ziffern III.1 und III.2 haftet CORA nicht für Schäden aus der Verletzung
						von
						Pflichten, die keine Kardinalpflichten darstellen und die leicht fahrlässig durch CORA, deren gesetzliche
						Vertreter oder
						Erfüllungsgehilfen verursacht wurden.<br />
						4. CORA haftet nicht für dem Nutzer entstandene Verluste, Schäden oder Nachteile, die mittelbar oder
						unmittelbar
						durch die nicht autorisierte Verwendung der Dienste zur Verarbeitung Unerlaubter Daten durch den Nutzer
						verursacht
						wurden.<br />
						5. CORA haftet für Datenverluste nur bis zu einem Betrag, der den typischen Kosten für die Wiederherstellung
						der
						betroffenen Daten entspricht, die entstanden wären, wenn der Nutzer ordnungsgemäße und regelmäßige
						Datensicherungen vorgenommen hätte.<br />
						6. Vorbehaltlich der Regelung in Ziffern III.1 ist die Haftung von CORA für Schäden aus oder im Zusammenhang
						mit
						einem Nutzungsvertrag, sei es aus Vertrag, Delikt oder aus anderen Gründen, beschränkt auf einen Betrag von
						150%
						(einhundertfünfzig Prozent) der Summe der Gebühren unter dem betroffenen Nutzungsvertrag.<br />
						7. CORA steht nicht dafür ein, dass keine Ansteckung oder die Verbindung zu allen Gesundheitsämtern
						gewährleistet
						ist.<br />
						8. Eine über die in dieser Ziffer VIII geregelten Fälle hinausgehende Haftung von CORA ist ausgeschlossen.
					</p>
					<p>IX. Abtretungsverbot und Aufrechnungsbeschränkung<br />
						1. Der Nutzer darf seine Rechte oder Verpflichtungen aus einem Nutzungsvertrag und diesen
						Nutzungsbedingungen
						nicht ohne die schriftliche Einwilligung von CORA abtreten.<br />
						2. Der Nutzer ist nur dann berechtigt, mit eigenen Forderungen gegen Forderungen von CORA aufzurechnen, wenn
						seine Forderungen<br />
						a. rechtskräftig festgestellt wurden oder<br />
						b. unbestritten sind oder<br />
						c. von CORA anerkannt wurden</p>
					<p>X. Vollständige Vereinbarung, Salvatorische Klausel, Änderungen und Aktualisierungen<br />
						1. Der Nutzungsvertrag einschließlich dieser Nutzungsbedingungen stellt die vollständige Vereinbarung
						zwischen dem
						Nutzer und CORA in Bezug auf seinen Vertragsgegenstand dar und ersetzt alle früheren schriftlichen oder
						mündlichen
						Verhandlungen, Regelungen, Abreden, Übungen oder Vereinbarungen zwischen den Parteien in Bezug auf den
						Vertragsgegenstand und schließt diese aus.<br />
						2. Sollte eine Regelung des Nutzungsvertrages einschließlich dieser Nutzungsbedingungen, ganz oder teilweise
						unwirksam oder nichtig sein oder werden, so wird die Wirksamkeit der übrigen Regelungen davon nicht berührt.
						An die
						Stelle der unwirksamen oder nichtigen Regelung tritt in diesem Fall eine Regelung, die dem am nächsten
						kommt, was
						die Parteien nach dem Sinn und Zweck der ursprünglichen Regelung und des Nutzungsvertrages in gesetzlich
						zulässiger
						Weise vereinbart hätten, wenn sie die Unwirksamkeit oder Nichtigkeit der ursprünglichen Regelung erkannt
						hätten.
						Beruht die Unwirksamkeit oder Nichtigkeit einer Regelung auf einem darin festgelegten Maß der Leistung oder
						der Zeit
						(Frist oder Termin), so tritt an deren Stelle eine Regelung mit einem dem ursprünglichen Umfang am nächsten
						kommenden rechtlich zulässigen Umfang. Das Vorstehende gilt auch für eine etwaige von den Parteien nicht
						beabsichtigte Regelungslücke in dem Nutzungsvertrag einschließlich dieser Nutzungsbedingungen. Es ist der
						ausdrückliche Wille der Parteien, dass diese salvatorische Klausel keine bloße Beweislastumkehr zur Folge
						hat, sondern
						§ 139 BGB insgesamt abbedungen ist.<br />
						3. Änderungen oder Ergänzungen eines Nutzungsvertrages müssen schriftlich erfolgen (der Austausch einfacher
						E-
						Mails ist ausreichend). Dasselbe gilt für Vereinbarungen, von diesem Schriftformerfordernis abzuweichen oder
						auf
						dieses vollständig zu verzichten.<br />
						4. CORA kann diese Nutzungsbedingungen mit Wirkung für die Zukunft ändern und/oder aktualisieren, wenn dies
						aus
						technischen, wirtschaftlichen oder rechtlichen Gründen erforderlich ist. Jede Änderung dieser
						Nutzungsbedingungen
						wird dem Nutzer in Textform (eine einfache E-Mail ist ausreichend) mindestens sechs Wochen vor ihrem
						beabsichtigten Inkrafttreten angekündigt. Der Nutzer kann der Änderung vor dem Tag ihres beabsichtigten
						Inkrafttretens zustimmen oder widersprechen. Die Änderung gilt als von dem Nutzer angenommen, wenn der
						Nutzer
						der Änderung nicht vor dem Tag ihres beabsichtigten Inkrafttretens widerspricht. CORA wird den Nutzer in der
						entsprechenden Ankündigung ausdrücklich darüber informieren.</p>
					<p>XI. Geltendes Recht und Verbraucherschlichtungsstelle<br />
						1. Jeder Nutzungsvertrag und alle (vertraglichen oder außervertraglichen) Streitigkeiten oder Ansprüche, die
						durch oder
						in Verbindung mit dem Nutzungsvertrag oder deren Gegenstand oder deren Abschluss entstehen, unterliegen den
						zwingenden Gesetzen des Staates, in dem der Nutzer seinen gewöhnlichen Wohnsitz hat (d. h. derjenigen
						Bestimmungen des Rechts dieses Staates, von denen nicht durch Vereinbarung abgewichen werden kann). Im
						Übrigen
						gilt das Recht der Bundesrepublik Deutschland. Das Übereinkommen der Vereinten Nationen über Verträge über
						den
						internationalen Warenkauf (CISG) findet keine Anwendung.<br />
						2. Die Europäische Kommission betreibt eine Schiedsstelle, die online zu erreichen ist.
						CORA ist nicht dazu verpflichtet, an einem Streitbeilegungsverfahren vor dieser Schiedsstelle oder vor einer
						anderen
						Verbraucherschlichtungsstelle teilzunehmen und dazu auch nicht bereit.</p>
					<p>MATECODE GmbH<br />
						Registergericht: Amtsgericht Stuttgart, HRB771974<br />
						Sitz der Gesellschaft: Stuttgart<br />
						Stand der Nutzungsbedingungen: Januar 2021</p>
				</div>
			</div>

			<div class="p-field center-container">
				<button class="orange-button" (click)="confirmClick()">Zustimmen</button>
				<button class="white-button" (click)="cancelClick()">Abbrechen</button>
			</div>
		</div>
	</div>
</div>