<div class="p-fluid main-container p-col-12">
    <p-progressSpinner *ngIf="isPressed" styleClass="custom-spinner"></p-progressSpinner>
    <div class="center-container header-image-container">
      <img src="assets/forgotpassword.jpg" />
    </div>
    <div class="p-field center-container attension-text">
      Neues Passwort vergeben
    </div>
    <form [formGroup]="modelForm" class="first-indent">
      <div class="p-field center-container">
        <span class="password-input p-input-icon-right" style="width: 350px!important;">
          <i *ngIf="!showPassword" class="pi pi-eye"  (click)="showPassword=!showPassword"></i>
          <i *ngIf="showPassword" class="pi pi-eye-slash"  (click)="showPassword=!showPassword"></i>
          <input [type]="passwordType" pPassword formControlName="passwordControl" class="big-input-container" style="width: 350px!important; padding-left: 60px" pInputText placeholder="Passwort" [(ngModel)]="model.password" />
        </span>
      </div>
      <div class="p-field center-container" class="standard-indent">
        <span class="password-again-input p-input-icon-right" style="width: 350px;">
          <i *ngIf="!showPasswordAgain" class="pi pi-eye"  (click)="showPasswordAgain=!showPasswordAgain"></i>
          <i *ngIf="showPasswordAgain" class="pi pi-eye-slash"  (click)="showPasswordAgain=!showPasswordAgain"></i>
          <input [type]="passwordAgainType" pPassword formControlName="confirmPasswordControl" class="big-input-container" style="width: 350px!important; padding-left: 60px" pInputText placeholder="Passwort wiederholen" [(ngModel)]="model.confirmPassword" />
        </span>
      </div>
      <div class="p-field center-container" style="margin-top:91px">
        <button class="orange-button" [class.button-disabled]="isPressed" (click)="resetClick()">Speichern</button>
      </div>
      <div class="p-field center-container" style="margin-top:20px">
        <button class="white-button" [class.button-disabled]="isPressed" (click)="cancelClick()">Abbrechen</button>
      </div>
    </form>
  </div>
