.password-input::before {
	content: '';
	position: absolute;
	background-image: url('../../../assets/icons/password-pass.svg');
	margin-left: 15px;
	width: 50px;
	height: 50px;
	top: 10px;
	background-repeat: no-repeat;
}

.password-again-input::before {
	content: '';
	position: absolute;
	background-image: url('../../../assets/verified_confirm.svg');
	margin-left: 15px;
	width: 50px;
	height: 50px;
	top: 10px;
	background-repeat: no-repeat;
}
