$dark1: #0b1726;
$dark2: #0c1713;
$dark3: #091624;
$dark4: #000;
$dark5: #222;
$dark6: #555;

$light1: #fff;
$light2: #e5e5e5;
$light3: #e7e5e4;
$light4: #d9d9d8;
$light5: #cdcdcc;
$light6: #f1ebe8;
$light7: #c5c0bf;
$light8: #a9a9a9;
$light9: #efefef;
$light10: #edecec;
$light11: #f7f7f7;
$light12: #808080;
$light13: #a7a7a7;
$light14: #a5a5a5;
$light15: #98a3ad;
$light16: #808080;
$light17: #85948f;
$light18: #a6a6a6;
$light19: #eee;
$light20: #f9f9f9;
$light21: #bebebe;
$light22: #f5f5f5;
$light23: #f6f6f6;
$light24: #edf0f4;
$light25: #cdcdcb;
$light26: #fcfcfc;
$light27: #ddd;

$yellow1: #fad949;
$yellow2: #fbe276;
$yellow3: #fceca4;
$yellow4: #fef5d1;
$yellow5: #bba541;

$red1: #ec202b;
$red2: #f15860;
$red3: #f58f95;
$red4: #fac7ca;
$red5: #c42026;
$red6: #cc131d;
$red7: #fee7e7;
$red8: #ed214b;
$red9: #eb586a;
$red10: #d23854;
$red11: #fdf0f1;
$red12: #ff4d4f;
$red13: #fef5f5;

$coral1: #f15860;
$coral2: #f58f95;
$coral3: #fac7ca;
$coral4: #fef1f2;

$blue1: #1e5f83;
$blue2: #527298;
$blue3: #8ba1ba;
$blue4: #c5d0dd;
$blue5: #184376;
$blue6: #9ab7c7;
$blue7: #181e5f;
$blue8: #1a4c66;
$blue9: #eff4f4;
$blue10: #304c5b;
$blue11: #0c3952;
$blue12: #1e6b83;
$blue13: #f9fafb;
$blue14: #ebf0f3;
$blue15: #c1dfe5;
$blue16: #dfe1e1;
$blue17: #1890ff;

$navy2: #091624;
$navy3: #132e4b;

$purple1: #7378c0;
$purple2: #969ad0;
$purple3: #b9bbdf;
$purple4: #dcddef;

$green1: #288181;
$green2: #5ea0a0;
$green3: #93c0c0;
$green4: #c9dfdf;
$green5: #145e5e;
$green6: #e8f0e9;
$green7: #23a4a4;
$green8: #1a4c53;
$green9: #19646f;
$green10: #c7d2d4;
$green11: #49a19c;
$green12: #15525b;
$green13: #6AC172;

$dark-gray1: #5b5865;
$dark-gray2: #84828b;
$dark-gray3: #adabb2;
$dark-gray4: #d6d5d8;

$gray1: #b5bdc9;
$gray2: #c7cdd6;
$gray3: #dadee4;
$gray4: #eceef1;
$gray5: #555;
$gray6: #eeeff0;
$gray7: #dae3e6;
$gray8: #c4c4c4;
$gray9: #bfbfbf;

$main-font: 'Roboto', sans-serif;
$secondary-font: 'Roboto', sans-serif;
$title-font: 'Roboto', sans-serif;

$main-font-size: 14px;

$width-screen: 1920px;
$min-width-sidebar: 95px;
$max-width-sidebar: 270px;
$max-z-index: 999;
$header-height: 0px;

$navigation-delay: 0.2s;
