<form [formGroup]="modelForm">
    <div class="center-container">
        <span class="p-float-label">
            <input id="streetInput" formControlName="streetControl" maxlength="100"  type="text" class="small-input-container" pInputText [(ngModel)]="model.street" />
            <label for="streetInput">Straße</label>
        </span>
    </div>
    <div class="center-container standard-indent">
        <span class="p-float-label">
            <input id="houseInput" formControlName="houseControl" maxlength="10" type="text" class="small-input-container" pInputText [(ngModel)]="model.house" />
            <label for="houseInput">Hausnummer</label>
        </span>
    </div>
    <div class="center-container standard-indent">
        <span class="p-float-label">
            <input id="zipInput" formControlName="zipControl" maxlength="20" type="text" class="small-input-container" pInputText [(ngModel)]="model.zipCode" />
            <label for="zipInput">Postleitzahl</label>
        </span>
    </div>       
    <div class="center-container standard-indent">
        <span class="p-float-label">
            <input id="cityInput" formControlName="cityControl" maxlength="100"  type="text" class="small-input-container" pInputText [(ngModel)]="model.city" />
            <label for="cityInput">Stadt</label>
        </span>
    </div>
    <div class="center-container standard-indent">
        <span class="p-float-label">
            <input id="regionInput" formControlName="regionControl" maxlength="100" type="text" class="small-input-container" pInputText [(ngModel)]="model.region" />
            <label for="regionInput">Bundesland</label>
        </span>
    </div>
    <div class="center-container standard-indent">
        <span class="p-float-label">
            <input id="countryInput" formControlName="countryControl" maxlength="100" type="text" class="small-input-container" pInputText [(ngModel)]="model.country" />
            <label for="countryInput">Land</label>
        </span>
    </div>         
    <div class="center-container" style="margin-top:20px">
        <button class="orange-button" [class.button-disabled]="isPressed" (click)="nextClick()">Weiter</button>
    </div>
    <div class="center-container" style="margin-top:10px">
        <button class="white-button" [class.button-disabled]="isPressed" (click)="cancelClick()">Abbrechen</button>
    </div>                      
</form>
