<div class="p-fluid main-container">
  <div class="header">
    <img src="assets/images/forgotpassword.jpg" />
    <div class="center-container header-text">Passwort vergessen?</div>
  </div>

  <div class="p-field center-container regular-text description">
    Geben Sie Ihre E-Mail-Adresse ein, um neues ein Passwort zu erhalten
  </div>

  <form class="forgot-password-form" [formGroup]="modelForm">
    <div class="input-container large">
      <div class="icon-container user-icon">
        <input type="text" formControlName="emailControl" class="input" pInputText placeholder="E-Mail"
          [(ngModel)]="model.email" />
      </div>
    </div>
  </form>

  <div class="p-field center-container" style="margin-bottom: 18px">
    <button class="orange-button" [class.button-disabled]="isPressed" (click)="sendEmailClick()">
      E-Mail senden
    </button>
  </div>
  <div class="p-field center-container">
    <button class="white-button" [class.button-disabled]="isPressed" (click)="cancelClick()">Abbrechen</button>
  </div>
</div>