@import '../../../styles/variables';
@import '../../../styles/mixins';

.header {
  display: flex;
  align-items: center;
  margin-bottom: 24px;

  @include sm {
    margin-top: 80px;
  }

  @include md {
    flex-direction: column;
    margin-bottom: 48px;
  }

  img {
    width: 36px;
    margin-right: 12px;

    @include md {
      width: 128px;
      margin-right: 0;
      margin-bottom: 24px;
    }
  }

  .header-text {
    font-size: 24px;
    font-weight: 700;
  }
}

.description {
	margin-bottom: 32px;
}

.forgot-password-form {
  margin-bottom: 36px;
	width: 100%;

  @include sm {
    width: 370px;
  }
}
